<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> J&SE1 Practical</title>
</head>
<body>
<center>
    <h2>
        Supermarket Sales Dataset <br/><a href="https://www.kaggle.com/aungpyaeap/supermarket-sales">Link</a><br/>
    </h2>
    <br><br>
</center>

<!--Select information from database-->
<h4>Get information about Sales that occurred between two dates </h4>
<form action="/" method="get">
    Enter the start date:<input type="text" name="sdate" method="get" >
    Enter the end date:<input type="text" name="edate" method="get" >
    <input type="submit" value="Execute">
</form>



</body>
</html>